{% extends "web/base.html" %}
{% load static %}

{% block titulo %} Listado de alumnos {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'web/styles/listado_alumnos.css' %}">
{% endblock %}

{% block main %}
    <h2>Listado de alumnos</h2>
    {% if cuota_al_dia %}
        <p style="padding:15px; background-color: green; color: white;">NO DEBE DINERO</p>
    {% else %}
        <p style="padding:15px; background-color: red; color: white;">DEBE LA CUOTA</p>
    {% endif %}

    <a href="{% url 'index' %}">Volver</a>

    <section class="listado_alumnos">
        {% for alumno in alumnos %}
            <article>
                <p>Nombre: {{ alumno.nombre }} | </p>
                <p>Apellido: {{ alumno.apellido }} |</p>
                <p>Dni: {{ alumno.dni }} |</p>
                <p>Le: {{ alumno.LE }}</p>
            </article>

        {% empty %}
            <article>
                <p>No hay alumnos cargados</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}